html, body {
    margin: 0;
    padding: 0;
  }  

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left:18px;
    padding-right: 18px;
    padding-bottom: 9px;
    align-items: center;
    background-color:#123524;
    color: white;
    font-weight: 900;
}

.top-content {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    color:white;
    font-weight: 500;
    background-image: url("images/jungle8.jpg");
    height: 700px;
    align-items: center;
}


.icborder{
    display: flex;
    justify-content: center;
    gap: 80px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 50px;
}

.top-text h1 {
    color:#FEE8B0;
    font-size:40px ;
}

.top-text{
    width:400px;
    align-self: center;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
}

.oval-border {
    border: solid #647E68 7px;
    border-radius: 500px;
    width: 1300px;
    height: 470px;
    align-items: center;
    display:flex;
    background: rgb(116,120,76,0.7);
    box-shadow: 0 30px 30px 0 rgba(100,104,60,0.24), 0 40px 40px 0 rgba(132,136,92,0.19);
}

.top-image {
    border: #008040 solid 20px;
    width: 100px;
    height: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 10px 19px 30px rgb(10, 48, 10);
}

#monkegun {
    display: inline;
    height: 100%;
    width: auto;
}



#signup {
    margin-top: 12px;
    background-color: rgb(4, 158, 4);
    padding: 12px 16px;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

#signup:hover {
background-color: #4CAF50;
color: white;

}



ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

#logo {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    
}

.team-info {

   background-color: #123524;
   height:700px;
  /* box-shadow:inset 0px 0px 20px 20px black; */

}

.mid-title {
    margin-top: 36px;
    margin-bottom: 100px;
    color:rgb(235, 235, 193);
    font-size: 64px;
    text-align: center;
    font-family: Baskerville;
    text-decoration: underline;
    text-decoration-line: overline;

}

.team-photos {

    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.member img {
    width:200px;
    height:200px;
    margin-bottom: 24px;
    border: solid rgb(116,120,76) 8px;
    border-radius: 20%;
    box-shadow: 0px 0px 12px 8px rgb(166, 173, 86);
}

.member{
    text-align: center;
    max-width: 200px;
}

.text-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 28px;
}

.text {
    font-size: 18px;
}

.text-title,
.text {

    color: #FFFFE0;
    font-family:'Times New Roman', Times, serif;
}

.quote-section {
    height:380px;
    background-color: #226947;
    padding-top: 60px;
    color: rgb(235, 235, 193);
}

.quote {
    text-align: center;
    font-size: 52px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: "Apple Chancery";
    margin-bottom: 75px;
}

.owner {
    text-align:right;
    padding-right: 220px;
    font-size: 28px;
}